<h1>Angular CDK</h1>
<p>Demonstração Angular CDK - Semana 1</p>

<button type="button" class="btn btn-primary mr-2" (click)="goToHome()">Home</button>
<button type="button" class="btn btn-primary mr-2" (click)="goToSelection()">Ir para selection</button>
<button type="button" class="btn btn-primary mr-2" (click)="goToSelectionDetails()">Ir para selection</button>
<button type="button" class="btn btn-primary mr-2" (click)="goToLiveAnnounce()" >Ir para live announce</button>

<router-outlet></router-outlet>
